*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*header style*/

header{
    background-color: #255ee9;
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-around;
}

nav{
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

header button{
    
    background-color: #ffffff;
    padding: 10px;
    border-radius: 18px;
    border: none;
}

/*first section style*/

.s-1{
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-1-container{
    max-width: 630px;
    text-align: center;
}

.s-1-container h1{
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 30px;
}

.s-1-container p{
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 20px;
}

.s-1-container .download-mac{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 25px;
    border: 0;
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
}

.arrow-symbol{
    font-size: 20px;
}

.s-1-container .open-discord{
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 15px;
    border-radius: 25px;
    border: 0;
    margin-left: 10px;
}

/*second section style*/

.s-2{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-2-copy{
    flex-basis: 360px;
    align-self: 10px;
}

.s-2-copy h1{
    font-size: 3rem;
    margin-bottom: 30px;
}

.s-2-copy p{
    line-height: 30px;
}